################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SysBot.NET/FileContentIndex/376450d2-470d-41ed-9ea4-068fbeee574d.vsidx
/.vs/SysBot.NET/FileContentIndex/9a333b93-af0d-4d22-a69d-36a00a238b3f.vsidx
/.vs/SysBot.NET/FileContentIndex/743e0c56-f369-4a02-a830-c29e99ad42f0.vsidx
/.vs/SysBot.NET/FileContentIndex/be1bb3dc-3dcd-4c92-9760-107896b8debf.vsidx
